@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fff;
  font-family: "arial";
  font-size: 14px;
  color: #69686c;
  font-weight: 400;
  line-height: 20px;
}

.slick-slide > div {
  margin: 0 3px;
}
.slick-list {
  margin: 0 -3px;
}

@layer base {
  html {
    font-family: "Cairo", sans-serif;
  }
}
